PORT = 5000;
Mongo_URI =mongodb://localhost:27017/shopnest-mern
JWT_SECRET=your_JWT_SECRET_sadeghbkjo
EMAIL_USER= user@gmail.com
EMAIL_PASS= 16digitpassword

CLOUDINARY_CLOUD_NAME=signupdata
CLOUDINARY_API_KEY=signupdata
CLOUDINARY_API_SECRET=signupdata

 RAZORPAY_KEY_ID=signupdata
RAZORPAY_KEY_SECRET=signupdata

FRONTEND_URL="http://localhost:3000"
NODE_ENV=development